extends layout

block content
  div.home_page_container
    p.home_page_container_welcome Welcome to Odinbook
    hr
    if currentUser
      if posts.length > 0
        each post in posts
          if (currentUser.friend_list.includes(post.user.id) || post.user.id === currentUser.id)
            div.home_page_user_details
              a(href=`/friends/suggested/view-profile/${post.user.id}`)
                p.profile_detail_currentUser_username!= post.user.username
            div.home_page_date= post.timestamp_formatted
            div.home_page_date!= post.content
            div.home_page_container
              if post.files && post.files.length > 0
                img.home_page_img(src=post.files[0].url, alt="Image", style="max-width: 50%;")
            if (post.likes.includes(currentUser.id))
                a.post_detail_currentUser_dislike(href=`/dislike-post/${post.id}`) (#{post.likes.length}) Dislike it
            else
                a.post_detail_currentUser_like(href=`/like-post/${post.id}`) (#{post.likes.length}) Like it
            each comment in post.comments
              div.post_detail_currentUser_commentList
                if (comment.user.id == currentUser.id)
                  span.post_detail_currentUser_comment_author #{comment.user.username}:#{' '}
                  span.post_detail_currentUser_comment_text !{comment.content}
                  if (comment.likes.includes(currentUser.id))
                    a.post_detail_currentUser_dislike(href=`/dislike-comment/${comment.id}`) (#{comment.likes.length}) Dislike it
                  else
                    a.post_detail_currentUser_like(href=`/like-comment/${comment.id}`) (#{comment.likes.length}) Like it
                  br
                  span.post_detail_currentUser_comment_time #{comment.timestamp_formatted}
                  br
                  a.post_detail_currentUser_delete(href=`/delete-comment/${comment._id}`) #{"  "} Delete
                else
                  span.post_detail_currentUser_comment_author #{comment.user.username}:#{' '}
                  span.post_detail_currentUser_comment_text !{comment.content}
                  if (comment.likes.includes(currentUser.id))
                    a.post_detail_currentUser_dislike(href=`/dislike-comment/${comment.id}`) (#{comment.likes.length}) Dislike it
                  else
                    a.post_detail_currentUser_like(href=`/like-comment/${comment.id}`) (#{comment.likes.length}) Like it
                  br
                  span.post_detail_currentUser_comment_time #{comment.timestamp_formatted}
          form(method='POST' action='')
            h3 Add Comments
            div.post_detail_currentUser_comment_group
                label.post_detail_currentUser_addComment(for='comment') Write your comment: 
                input.post_detail_currentUser_commentInput#comment(type='text' name='comment' required='true' )
                input(type='hidden' name='postId' value=post.id)
                //- input(type='hidden' name='userId' value=currentUser.id)
            button.post_detail_currentUser_submitButton(type='submit') Submit
          hr
      else
        p No one posted anything.
    else
      a.home_page_container_signup(href="/sign-up") Sign Up
      a.home_page_container_signup(href="/demo-user-1") Demo User